
/data/extracted
*.pyc
/data/datasets/databases
*.pkl
*.gz
caches/hog_cache/params.json
/code_tests
/outputs
/saved figures
/saved_figures
OCR_Pipeline_Results.pptx
/outputs_svg
/tests
/tests_2
*.npz
*.json
*.parquet
*.fth
/data
